[Unit]
Description=amdgpu-metrics
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/amdgpu-metrics

[Install]
WantedBy=multi-user.target